html {
    font-size: 72.5%;
}
.title {
    font-size: 20px;
  color: gray;
  font-family: cursive;
  text-align: center;
}
.button {
  margin: 2px auto;
  width: 100px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}